<section
	class="tags-stats">
	{# first small card at the top of the page #}
	<div class="card-stat topPage-card">
		<div class="card-header">
			<div class="card-top-top">
				<div>
					<span>
						<i class="fa-solid fa-chart-area"></i>
					</span>
					<h2 class="card-title">{{ 'ongoing_title_label'|trans }}</h2>
				</div>

				<div class="info">
					<i class="fa-solid fa-info"></i>
					<p class="info-hidden">{{'ongoing_info_label'|trans }}</p>
				</div>
			</div>

			<div class="card-bottom-top">
				<h3 class="card-subtitle">{{ ongoingOperationsClient }}</h3>

				<div class="card-subtitle-more">
					<div class="badge" data-percentage=" ">
						{% for service, count in numberPerServiceonGoing %}
							{% if  count == 0  %}
								<span class="rate rate-finishedOrder"></span>
							{% else %}
								<span class="rate rate-finishedOrder">
									{% if service == "Petite" %}
										{{ 'small'|trans({}, 'operationsClient') }}
									{% elseif service == "Moyenne" %}
										{{ 'medium'|trans({}, 'operationsClient') }}
									{% elseif service == "Grande" %}
										{{ 'big'|trans({}, 'operationsClient') }}
									{% elseif service == "Custom" %}
										{{ 'custom'|trans({}, 'operationsClient') }}
									{% endif %}
									:
									{{ count }}
								</span>
							{% endif %}
						{% endfor %}
					</div>

				</div>

			</div>
		</div>
	</div>

	{# second small card at the top of the page #}
	<div class="card-stat topPage-card">
		<div class="card-header">
			<div class="card-top-top">
				<div>
					<span>
						<i class="fa-solid fa-chart-area"></i>
					</span>
					<h2 class="card-title">{{'operations_info_label'|trans }}</h2>
				</div>

				<div class="info">
					<i class="fa-solid fa-info"></i>
					{# <p class="info-hidden">{{ 'choose_operation_type_label'|trans }}</p> #}
				</div>
			</div>

			<div class="card-bottom-top">
				<h3 class="card-subtitle">
					{% if mostWantedService == "Petite" %}
						{{ 'small'|trans({}, 'operationsClient') }}
					{% elseif mostWantedService == "Moyenne" %}
						{{ 'medium'|trans({}, 'operationsClient') }}
					{% elseif mostWantedService == "Grande" %}
						{{ 'big'|trans({}, 'operationsClient') }}
					{% elseif mostWantedService == "Custom" %}
						{{ 'custom'|trans({}, 'operationsClient') }}
					{% endif %}
				</h3>


			</div>
		</div>
	</div>

	{# third small card at the top of the page  #}
	<div class="card-stat topPage-card">
		<div class="card-header">
			<div class="card-top-top">
				<div>
					<span>
						<i class="fa-solid fa-chart-area"></i>
					</span>
					<h2 class="card-title">{{ 'finished_operation_label'|trans }}</h2>
				</div>

				<div class="info">
					<i class="fa-solid fa-info"></i>
					<p class="info-hidden">{{ 'finished_operations_info_label'|trans }}</p>
				</div>
			</div>

			<div class="card-bottom-top">
				<h3 class="card-subtitle">{{ finishedOperationsClient }}</h3>

				<div class="card-subtitle-more">
					<div class="badge" data-percentage=" ">
						{% for service, count in numberPerServiceFinished %}
							{% if  count == 0  %}
								<span class="rate rate-finishedOrder"></span>
							{% else %}
								<span class="rate rate-finishedOrder">
									{% if service == "Petite" %}
										{{ 'small'|trans({}, 'operationsClient') }}
									{% elseif service == "Moyenne" %}
										{{ 'medium'|trans({}, 'operationsClient') }}
									{% elseif service == "Grande" %}
										{{ 'big'|trans({}, 'operationsClient') }}
									{% elseif service == "Custom" %}
										{{ 'custom'|trans({}, 'operationsClient') }}
									{% endif %}
									:
									{{ count }}
								</span>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>


	</section>
