{#
 * Structure:
 * @author: Mathilde Breux
#}
{{ form_start(form) }}

<div class="actionsContainer">
	<div class="actions">
		{{ form_row(form.submit) }}

	</div>
</div>

<div class="container">
	<div class="containerLeft">
		<div class="lign">
			<p class="label pass">{{ 'oldPassword'|trans({}, 'profil') }}</p>
			{{ form_row(form.plainPassword) }}
			<span type="button" class=" toggle-password" id="togglePasswordPlain">
				<i class="fas fa-eye eye" aria-hidden="true"></i>
			</span>
		</div>

		<div class="lign">
			<p class="label pass">{{ 'newPassword'|trans({}, 'profil') }}</p>

			{{ form_row(form.newPassword.first)}}
			<span type="button" class="toggle-password" id="togglePasswordNew">
				<i class="fas fa-eye eye" aria-hidden="true"></i>
			</span>
		</div>

		<div class="lign">
			<p class="label pass repeat">{{ 'confirmNewPassword'|trans({}, 'profil') }}</p>

			{{ form_row(form.newPassword.second)}}
			<span type="button" class="toggle-password" id="togglePasswordRepeat">
				<i class="fas fa-eye eye eye2" aria-hidden="true"></i>
			</span>
		</div>

	</div>
</div>

{{ form_end(form) }}
